

<div class="container">
	<div class="row justify-content-center mt-5">
		<div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-6 mt-5">

			<div class="card">
				<div class="card-header card-header-text card-header-primary">
					<h3 class="text-center m-1">- Invoice Generator -</h3>
				</div>
				<div class="card-body p-5">

					<div class="form-group">
						<input type="email" class="form-control font-size-lg" placeholder="johndoe@email.com" [(ngModel)]="email">
						<span class="form-text">Email</span>
					</div>

					<button type="button" class="btn btn-primary mt-4" (click)="_login()">Proceed to Invoice</button>
				</div>
			</div>

			<p class="text-center">Hire me! <a href="mailto:adeanladia0129@gmail.com" class="font-weight-bold">adeanladia0129@gmail.com</a></p>

		</div>
	</div>
</div>