

<div class="container">
	<div class="row justify-content-center">
		<div class="col-10 mt-5 mb-5">

			<div class="card">
				<div class="card-header p-4 card-header-info">
					<h4 class="m-0 display-4">Company Name</h4>
					<p class="category m-0">Lorem ipsum dolor sit amet, consectetur adipisicing</p>
				</div>
				<div class="card-body">

					<div class="row mt-4">
						<div class="col-12 col-sm-6 col-md-5 col-lg-4 col-xl-4 offset-sm-6 offset-md-7 offset-lg-8 offset-xl-8">
							<div class="form-group m-0 p-0">
								<input type="text" class="form-control text-right" placeholder="Invoice No.">
							</div>
							<div class="form-group m-0 p-0">
								<input type="text" class="form-control text-right" placeholder="Date Created">
							</div>
							<div class="form-group m-0 p-0">
								<input type="text" class="form-control text-right" placeholder="Date Due">
							</div>
						</div>
					</div>

					<div class="row mt-4">
						<div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
							<span class="text-muted">From:</span>
							<div class="form-group m-0 p-0">
								<input type="text" class="form-control" placeholder="Company Name">
							</div>
							<div class="form-group m-0 p-0">
								<input type="text" class="form-control" placeholder="Official Address">
							</div>
							<div class="form-group m-0 p-0">
								<input type="text" class="form-control" placeholder="City, Street, etc.">
							</div>
						</div>

						<div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
							<span class="text-muted">To:</span>
							<div class="form-group m-0 p-0">
								<input type="text" class="form-control" placeholder="Recipient Company Name">
							</div>
							<div class="form-group m-0 p-0">
								<input type="text" class="form-control" placeholder="Contact Person">
							</div>
							<div class="form-group m-0 p-0">
								<input type="text" class="form-control" placeholder="Official Email">
							</div>
						</div>
					</div>

					<div class="row mt-5">
						<div class="col-12">
							<div class="form-group">
								<span>Service Description: </span>
								<textarea class="form-control" rows="2"></textarea>
							</div>
						</div>
					</div>

					<div class="row mt-3">
						<div class="col-12">
							<span>Items: </span>
							<table class="table table-striped">
								<thead>
									<tr class="d-flex">
										<th class="col-6"></th>
										<th class="col-2">Quantity / Hrs</th>
										<th class="col-2">Amount</th>
										<th class="col-2 text-right">Total</th>
									</tr>
								</thead>
								<tbody>
									<tr class="d-flex">
										<th class="col-6">
											<div class="lead mb-2" contenteditable="true">Item Delivered 1</div>
											<label class="text-muted" contenteditable="true">This is an editable element. Feel free to write any content you see fit as a sample.</label>
										</th>
										<td class="col-2"><input type="text" class="form-control" value="12"></td>
										<td class="col-2"><input type="text" class="form-control" value="5.00"></td>
										<td class="col-2"><input type="text" class="form-control text-right" value="60.00"></td>
									</tr>
									<tr class="d-flex">
										<th class="col-6">
											<div class="lead mb-2" contenteditable="true">Item Delivered 2</div>
											<label class="text-muted" contenteditable="true">Click me cause I am editable. No need to be afraid :)</label>
										</th>
										<td class="col-2"><input type="text" class="form-control" value="5"></td>
										<td class="col-2"><input type="text" class="form-control" value="2.00"></td>
										<td class="col-2"><input type="text" class="form-control text-right" value="10.00"></td>
									</tr>
									<tr class="d-flex">
										<th class="col-6">
											<div class="lead mb-2" contenteditable="true">Item Delivered 3</div>
											<label class="text-muted" contenteditable="true">This element can be edited! Try it now!</label>
										</th>
										<td class="col-2"><input type="text" class="form-control" value="7"></td>
										<td class="col-2"><input type="text" class="form-control" value="3.00"></td>
										<td class="col-2"><input type="text" class="form-control text-right" value="21.00"></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>

					<div class="row">
						<div class="col-4 offset-8">
							<div class="form-group">
								<input type="text" class="form-control text-right font-weight-bold pr-2 text-primary subtotal" value="81.00" disabled>
								<span class="float-right text-primary">TOTAL (in USD)</span>
							</div>
						</div>
					</div>

					<div class="row mt-5 border-bottom">
						<div class="col-12">
							<p class="text-muted">
								Footer Note: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim ven
							</p>
						</div>
					</div>

					<div class="row justify-content-center mt-4">
						<div class="col-6">
							<p class="text-info text-center">
								Company name | narra@'18
							</p>
						</div>
					</div>

				</div>
			</div>

			<div class="text-center">
				<button class="btn btn-primary">Send</button>
				<button class="btn btn-primary">Preview</button>
				<button class="btn btn-primary">Print</button>
			</div>
		</div>
	</div>
</div>
